body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: unset;
}

html {
    scroll-behavior: smooth;
}

.btn {
    font-size: 18px;
    border-radius: 100px;
}

.btn-join{
    padding: 20px 80px !important;
    font-size: 28px !important;
}

.btn-green {
    background: #25DAC5;
    padding: 17px 54px;
    color: #fff;
    border: none;
}

.btn-outline {
    color: #1E0E62;
    padding: 17px 35px;
    border: 2px solid #EBEAED;
    margin-left: 9px;
}

.btn-transparent {
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 17px 26px;
    color: #fff;
    font-size: 20px;
}